#myButton_red{
    background-color: red;
    color: black;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    border-radius: 15px;
}

#myButton_yellow{
    background-color: yellow;
    color: blue;
    font-family: DejaVu Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    border-radius: 0px;
}

#myButton_green{
    background-color: green;
    color: red;
    font-family: Forte;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    border-radius: 15px;
}

#myButton_blue{
    background-color: blue;
    color: magenta;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    border-radius: 30px;
}