.uwuTopTitle{
    background-image: none;
    color: pink;
    font-size: 45px;
    font-weight: bolder;
    font-family: monospace;
}

.uwuMainPageLabel{
    background-image: none;
    background-color: pink;
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;
}

.uwuMainPageEntry{
    color: black;
    font-size: 30px;
}

.uwutest{
    background-color: purple;
}

.uwutest2{
    background-color: aqua;
}

.uwutest3{
    background-color: darksalmon;
}

.fieldcss{
    background-color: dimgray;
}

.bot{
    background-color: royalblue;
}

.top{
    background-color: rebeccapurple;
}

.uwuContactFieldTop{
    background-color: aquamarine;
}

.uwuContactFieldBottom{
    background-color: cyan;
}

.uwup{
    background-color: pink;
}

.uwusf{
    background-color: azure;
}

.uwus{
    background-color: crimson;
}