/*---------------------------------------------------------------*/
/* css edit for main ui */
.uwuTopTitle{
    background-image: none;
    color: #e00f82;
    font-size: 50px;
    font-weight: bolder;
    font-family: monospace;
}

.uwuMainPageLabel{
    background-image: none;
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;
}

.uwuMainPageEntry{
    color: black;
    font-size: 30px;
}

.uwuMainPageButton{
    color: white;
    background-image: none;
    background-color: #E11584;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
}
.uwuMainPageButton:hover{
    color: #ef4fa6;
}

/*---------------------------------------------------------------*/
/* css edit for contact ui */
.uwuContactFieldTop{
    background-color: #ffb6c1;
}

.uwuContactFieldBottom{
    background-color:#fdb3da;
}

/*---------------------------------------------------------------*/
/* css for edit ui */
.uwuEditTitleTop{
    color: #e00f82;
    font-size: 50px;
    font-weight: bolder;
    font-family: monospace;
    margin: 20px;
}

.uwuEditFrameMid{
    padding: 15px;
    margin: 15px;
}

.uwuEditContentBox{
    margin: 12px;
}

.uwuEditLabel{
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
}

.uwuEditEntry{
    font-size: 25px;
    font-family: monospace;
}

.uwuEditEntryWrong{
    font-size: 20px;
    color: #D61610;
}

.uwuEditButton{
    margin: 15px;
    color: #FFFFFF;
    background-image: none;
    border-radius: 12px;
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
}
.uwuEditButton:active{
    transform: scale(0.8);
}

#uwuEditButtonSave{
    background-color: #03AC13;
}
#uwuEditButtonSave:hover{
    background-color: #02620B;
}

#uwuEditButtonCancel{
    background-color: #787276;
}
#uwuEditButtonCancel:hover{
    background-color: #3D3A3C;
}

#uwuEditButtonDelete{
    background-color: #D61610;
}
#uwuEditButtonDelete:hover{
    background-color: #890E0A;
}

.uwuAlertLabel{
    font-size: 35px;
    font-family: monospace;
    color: black;
}